Django==1.10
Pillow==3.2.0
South==1.0
Unidecode==0.04.19
Willow==0.3.1
argparse==1.2.1
beautifulsoup4==4.5.1
cffi==1.7.0
cryptography==1.5
dj-database-url==0.3.0
django-appconf==1.0.2
django-compressor==2.1
django-libsass==0.7
django-modelcluster==2.0
django-redis==3.8.2
django-taggit==0.18.3
django-treebeard==3.0
djangorestframework==3.9.1
elasticsearch==1.2.0
enum34==1.1.6
html5lib==0.999999
idna==2.1
ipaddress==1.0.16
libsass==0.8.2
ndg-httpsclient==0.4.2
psycopg2==2.6
pyOpenSSL==16.1.0
pyasn1==0.1.9
pycparser==2.14
python-gcm==0.4
pytz==2016.6.1
rcssmin==1.0.6
redis==2.10.5
requests==2.11.1
rjsmin==1.0.12
six==1.10.0
uWSGI==2.0.11.2
urllib3==1.16
wagtail==1.6.1
wagtail-nesting-box==0.1.0
whitenoise==2.0.4
wsgiref==0.1.2
